table,td,th {
    border: 2px solid red;
}

td,th{
    padding: 10px;
    border-radius: 0px;
    text-align: center;
}

table{
    background-color: azure;
    border-spacing: 0px;
    
}

div{
    background-color:blue;
    width: 350px; 
    height: 300px   ;
    padding: 80px;
}

#MariaIsabel{
    background-color: blueviolet;
} 
.Juan {
    color: green;
    background-color: burlywood;
}

#Maria{
    background-color: aqua;
}